PROTOCOL=websecure
GALIA_HOST=gbe.atoptima.com
GALIA_PORT=443
MY_HOST=http://localhost
MY_PORT=3000
APPLICATION_ID=mock-app
ACCESS_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InZpdG9ybmVzZWxsb0BhdG9wdGltYS5jb20iLCJjb21wYW55IjoxLCJhcHBsaWNhdGlvbnMiOlsidHNwIiwibGFzdC1taWxlIiwibWVkaWNhbC10cmFuc3BvcnQiLCJtZWRpY2FsLXRyYW5zcG9ydC1zdCIsInNjaC13dC1kZW1vIiwibGFzdC1taWxlLWNhIiwibW9jay1hcHAiLCJsYXN0LW1pbGUtc3QiLCJyb2FtLWFwcCIsImRlbW8tYXBwIiwiYXJjLXJvdXRpbmciLCJhcHBvaW50bWVudC1yb3V0aW5nIiwicGlja3VwLWFuZC1kZWxpdmVyeSIsImNsYXNxdWluLWRlbW8iLCJjYXItcGFydHMtZGVsaXZlcnkiLCJjb250YWluZXItc2NoZWR1bGluZyJdLCJyb2xlIjoicm9vdCIsImlhdCI6MTYzNDgzMzM2MSwiZXhwIjoxNjM0OTE5NzYxLCJpc3MiOiJBdG9wdGltYSIsInN1YiI6IjQifQ.iR3vxsGnQH58SWEQ3RtJ3vEBN8Vgh9DJh0CP09EMQ0QxxJBk9tgHtMAHialcyAOMYDvuiOWKiOG-wUfrq-h6Xx8D5NNSeoTeskKT_L935-WzwDWo3DmFtTLaK2DMkbKzylhGr1nidU3NmLdKmg1vNxEdKxJx5WRi0e5DCN1r3NZJPVjWueFR2oeKIwbSF2GTt4uazBTQPotxh6LS_thfalPKD6xW7MqHwHmeg71N37DSPGG6zRd4jHOWTs3XL9l1WlSavnY986MDxK15TKY0fHGv2sU6qK8OVOcK6krkey3N8YUncJ7gLluD6yb94WJl5qRSIDKjCkxJ_JF5igyfVw
